header {
  height: 15vh;
  min-height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  font-size: 20px;
  position: absolute;
}

.navbar {
  &__item, &__dropdown {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1px;
  
    &:hover {
      color:#cbffff;
      cursor: pointer;
    }
  }
  
  &__item {
    padding: 30px;
  }
  
  &__dropdown {
    margin: 30px;
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    width: 185px;
  }
}


