.countries-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
  url('../assets/green-mountains.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 94vh;
  display: flex;
  justify-content: center;
}