.country-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url('../assets/nature.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.country-wrapper {
  width: 80%;
  margin-top: 60px;
}

.country-name {
  color: azure;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 16px;
}

.facts {
  background-color: rgba(255, 255, 255, 0.84);
  border: 4px solid azure;
  border-radius: 20px;
  padding: 10px 50px;
  margin-bottom: 20px;

  p {
    margin: 0;
    margin-bottom: 15px;
  }
}

.fast-facts-container {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
}

.top-facts {
  display: flex;
}

.fast-facts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.general-facts-top {
  margin: 1rem;
  width: 50%;
  text-align: center;
}

.general-facts-bottom {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-category {
  font-size: 1.05rem;
  color: purple;
}

.superscript {
  vertical-align: super;
  font-size: 1rem;

  &--small {
    vertical-align: super;
    font-size: 0.75rem;
  }
}

.subscript {
  vertical-align: sub;
  font-size: 1rem;
}

.green-facts {
  display: flex;
  border: 2px solid blue;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.green-fact {
  border: 4px solid #b7eded;
  border-radius: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  padding: 2rem 3rem;
  margin: 1rem;
  transition: transform .2s linear;

  .data-heading {
    color: purple;
    font-size: 1.75rem;
    text-align: center;
  }
  
  .icon {
    font-size:4rem;
    margin: 1rem 0;
    color: #c0e9ba;
    color: #70b266;
    color: #a3da9b;
  }

  .data {
    font-size: 1.75rem;
    text-align: center;
  }

  &:hover {
    transform: scale(1.17);
    z-index: 10;
  }
}

#no-data {
  * {
    color: #cacaca;
  }

  .data {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.05rem;
  }
}