.countries-section {
  display: flex;
  justify-content: center;
}

.countries-wrapper {
  width: 80%;
  height: 94vh;
}

.countries-container {
  border: 2px solid blue;
  display: flex;
  justify-content: space-around;
  background: azure;
  background: linear-gradient(180deg, azure, #c5fcfc);
  height: 80vh;
}

.caret {
  font-weight: bold;
  font-size: 40px;
  position: absolute;
}

.caret-up {
  top: -15px;
  left: -17px;
}
.caret-right {
  bottom: -22px;
  right: -5px;
}

.graph {
  border: 1px solid red;
  border-left: 4px solid #000;
  border-bottom: 4px solid #000;
  height: 70vh;
  width: 65vw;
  margin-top: 25px;
  position: relative;
}

.data-point {
  border: 2px solid #03a103;
  background-color: #03a103;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 100px;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 10px;
  left: 10px;
}

