.home-section {
  // border: 3px solid blue;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('../assets/forest.jpeg');
    background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: #fff;
    margin: 0;
    font-size: 75px;
    font-weight: 500;
    letter-spacing: 10px;
    // text-transform: uppercase;
    text-shadow: 3px 3px #167c38;
    text-shadow: 3px 3px 10px rgba(0,0,0,0.5);
    text-align: center;
  }
}

