header {
  height: 15vh;
  min-height: 45px;
  // background-color: #630580;
  // background: linear-gradient(90deg, #630580, #dd79fc);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  font-size: 20px;
  position: absolute;  // `fixed` always stays at the top during scroll
}

.navbar-item, .dropdown {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 1px;

  &:hover {
    color:#cbffff;
    cursor: pointer;
  }
}

.navbar-item {
  padding: 30px;
}

.dropdown {
  margin: 30px;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  width: 185px;
}


